<div class="bg-gra-02 p-t-130 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
      <div class="card card-4">
          <div class="card-body">
<br>
<div style="justify-content: center;">
  <h1 class="title" style="text-align: center;">Message Alert !!!</h1>
  <h5 style="text-align: center;">Your Account is not yet approved by admin.
    Please check your mail for the approval</h5>
  <br>
  <br>
  <div style="justify-content: center; text-align: center">
    <button style="width: 110px; text-align: center;"
     mat-raised-button color="primary"
    (click)="signOut()">SignOut</button>
   </div>
</div>
          </div>
      </div>
  </div>
</div>
