<div class="container" *ngIf="poDetails && dataSource">
<div class="row">
  <h2>Purchase Order -  <b style="color: red;">{{billNo}}</b>
    <button *ngIf="Urgent === 'yes'" color="warn"
      mat-icon-button type="button" ><mat-icon class="icon-display">notification_important</mat-icon></button>
      <button *ngIf="Urgent === 'no'"
      mat-icon-button type="button" disabled><mat-icon class="icon-display">notification_important</mat-icon></button>
  </h2>
</div>
<br>
  <form>
    <div class="row">
     <div class="col-lg-6">
      <label class="form-group"><b>Requestor</b></label>
      <span class="form-control">{{creator}}</span>
    </div>
    <div class="col-lg-6">
      <label class="form-group"><b>Location</b></label>
      <span class="form-control">{{loc}}</span>
    </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row" *ngIf="imageNames.length > 0">
      <div class="col-lg-12">
       <label class="form-group"><b>Attachments</b></label>
       <span class="form-control"><a *ngFor="let i of imageNames" href="'http://localhost:3000/images/' + i.attachments">{{i.attachments}}</a></span>
     </div>
     </div>
     <br>
     <hr>
     <br>
    <div class="row">
      <div class="col-lg-6">
        <label class="form-group"><b>Billing Address</b></label>
        <address>{{poDetails[0].bill_to_address}}</address>
     </div>
     <div class="col-lg-6">
      <label class="form-group"><b>Shipping Address</b></label>
      <address>{{poDetails[0].delivery_address}}</address>
    </div>
     </div>
    <br>
    <hr>
    <br>
    <div class="row">
     <div class="col-md-4">
      <label class="form-group"><b>Reason of Purchase Order</b></label>
      <span class="form-control">{{poDetails[0].reason}}</span>
   </div>
   <div class="col-md-4">
    <label class="form-group"><b>Comment for Supplier</b></label>
    <span class="form-control">{{poDetails[0].commentSupplier}}</span>
  </div>
     <div class="col-md-4">
       <label class="form-group"><b>Required Delivery Date</b></label>
       <span class="form-control">{{poDetails[0].required_by | date}}</span>
     </div>
     </div>
     <br>
     <hr>
     <br>
     <div class="row">
      <div class="col-md-4">
         <label class="form-group"><b>Deliver to</b></label>
         <span class="form-control">{{poDetails[0].deliverPerson}}</span>
      </div>
      <div class="col-md-4">
       <label class="form-group"><b>Company Name</b></label>
       <span class="form-control">{{poDetails[0].cmp_name}}</span>
     </div>
     <div class="col-md-4">
       <label class="form-group"><b>Purchase Type</b></label>
       <span class="form-control">{{poDetails[0].purchase_type}}</span>
     </div>
     </div>
     <br>
     <hr>
     <br>
     <h3>Item Details</h3>
     <h5 style="color: rgb(125, 230, 221);">Select the Items to Approve</h5>
     <br>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef = "order_id">
            <th mat-header-cell *matHeaderCellDef>Order Id</th>
            <td mat-cell *matCellDef = "let element"> {{element.order_id}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
         </ng-container>

         <ng-container matColumnDef = "item_id">
          <th mat-header-cell *matHeaderCellDef>Item Id</th>
          <td mat-cell *matCellDef = "let element"> {{element.id}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
       </ng-container>

         <ng-container matColumnDef = "name">
          <th mat-header-cell *matHeaderCellDef>Item Name</th>
          <td mat-cell *matCellDef = "let element"> {{element.name}} </td>
          <td mat-footer-cell *matFooterCellDef><b>Total Cost</b></td>
       </ng-container>

       <ng-container matColumnDef = "Specification">
        <th mat-header-cell *matHeaderCellDef>Specification</th>
        <td mat-cell *matCellDef = "let element"> {{element.specification}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
     </ng-container>

     <ng-container matColumnDef = "Quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef = "let element"> {{element.quantity}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
   </ng-container>

   <ng-container matColumnDef = "Price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef = "let element"> {{element.price}} </td>
            <td mat-footer-cell *matFooterCellDef><b>{{totalAmount}}</b></td>
    </ng-container>

    <ng-container matColumnDef = "Brand">
      <th mat-header-cell *matHeaderCellDef>Brand</th>
      <td mat-cell *matCellDef = "let element"> {{element.brandName}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

        <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
        <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
<br>
<hr>
<br>
<div class="row">
<label class="form-group">Reason for Decision</label>
<input ngModel name="message" required #msg="ngModel" [(ngModel)]="decisionMessage" type="text" class="form-control">
</div>
<br>
<hr>
<br>
    <div class="text-right">
      <button class="btn btn-primary" *ngIf="selection.selected.length === 0"
      type="submit" (click)="onDecision('PO Denied', decisionMessage)">Cancel</button>&nbsp;
      <button class="btn btn-primary" *ngIf="selection.selected.length !== 0" type="submit"
       (click)="onDecision('PO Approved', decisionMessage, selection.selected)">Approve</button>
    </div>
    </form>
</div>
