  <div class="container">
    <h1>Process Order- <span style="color: red;">{{ order.order_id }}</span></h1>
    <section class="container border mb-4 p-3"  >
    <form #mainForm="ngForm" class="container mt-3">
      <div class="form-group ">
        <label for="created_by"><h4>Created By &nbsp;</h4></label>
        <input type="text" class="created_by" id="created_by" [(ngModel)]="order.created_by" name="created_by" disabled>
      </div>
      <br>
      <hr>
      <br>
      <div>
      <mat-card style="background-color:lavender;">
  <mat-card-header>
    <mat-card-title>Selected Locations</mat-card-title>
  </mat-card-header>
  <div class="row">
  <div class="col-sm-4"  *ngFor="let loc of multiLocs; let i=index;">
    <span>
      <b>Location: </b> {{loc.location}}
    <ul>
      <li><b>Department: </b> {{ loc.department }}</li>
      <li><b> Total Cost: </b> {{loc.total_price}} </li>
    </ul>
    </span>
    </div>
  </div>
</mat-card>
      </div>
      <br>
      <hr>
      <div class="form-group ">
        <label for="order_desc"><h4>Order Description</h4></label>
        <input type="text" class="form-control" id="order_desc" [(ngModel)]="order.order_desc" name="order_desc" required disabled>
      </div>
      <br>
      <hr>
      <br>
      <h4>Order Items</h4>
     <div>
      <mat-card style="background-color:lavender;">
  <mat-card-header>
    <mat-card-title>Selected Items</mat-card-title>
  </mat-card-header>
  <div class="row">
  <div class="col-sm-6"  *ngFor="let item of finalItem; let i=index;">
    <span>
      <b>Name: </b> {{item.name}}
      <ul>
        <li><b>Brand: </b> {{item.prefered_vendor}}</li>
        <li><b>Quantity: </b> {{item.quantity}}</li>
      </ul>
    </span>
    </div>
  </div>
</mat-card>
<br>
<hr>
<mat-card style="background-color:lavender;">
  <mat-card-header>
    <mat-card-title>Budget Details</mat-card-title>
  </mat-card-header>
  <div class="row">
  <div class="col-sm-6"  *ngFor="let locBudget of locationBudget; let i=index;">
    <span>
      <b>Location: </b> {{locBudget.location}}
      <ul>
        <li><b>Budget: </b> {{locBudget.budget}}</li>
        <li><b>Total Spent in Present Year: </b> {{locBudget.total_spent}}</li>
      </ul>
    </span>
    </div>
  </div>
</mat-card>
<br>
<hr>
<mat-card style="background-color:lavender;">
  <mat-card-header>
    <mat-card-title>Budget After Order Delivery</mat-card-title>
  </mat-card-header>
  <div class="row">
  <div class="col-sm-6"  *ngFor="let b of budgetAfterApproving; let i=index;">
    <span>
      <b>Location: </b> {{b.location}}
      <ul>
        <li><b>Department: </b> {{b.department}}</li>
        <li><b>Remaining Budget: </b> {{b.budget}}</li>
      </ul>
    </span>
    </div>
  </div>
</mat-card>
      </div>
        <hr>
   <br>
      <div class="form-group ">
        <label for="decision"><h4>Decision Message</h4></label>
        <input type="text" class="form-control" id="message" [(ngModel)]="decision" name="decision" required>
      </div>
      <br>
      <hr>
      <br>
      <div class="text-right">
      <button type="button" class="btn btn-success" (click)="orderDecision('Denied',decision,$event)">Deny Request</button>
      &nbsp;
      <button type="button" class="btn btn-success" (click)="orderDecision('Approved',decision,$event)">Approve Request</button>
      </div>
    </form>
    </section>
</div>
