.center {
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
html,
body {
    font-family: 'Open Sans Condensed', sans-serif;
}
.sticky {
background-color: #1d87cf;
// position: -webkit-sticky;
position: sticky;
z-index: 1;
top: 13%;
// top: 0;
right: 1rem;
}


.bg-gra-02 {
  background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
  background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.bg-gra-01 {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.title {
  font-size: 20px;
  color: #f7f2f2;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.custom_height {
  height: 450px;
}

.custom_height1 {
  height: 300px;
}

.custom_align {
  justify-content: center;
}

mat-card-title {
    font-size: 18px;
    opacity: 0.5;
    font-family: sans-serif;
}

mat-card-content {
    font-size: 20px;
    font-family: sans-serif;
    left: 74%;
    position: relative;
}

.icon {
    font-size: 50px;
    position: absolute;
    left: 27%;
    top: 25%;
    vertical-align: middle;
}

.icon-second {
    font-size: 50px;
    position: absolute;
    left: 35%;
    top: 25%;
    vertical-align: middle;
}

.position-image {
    position: absolute;
    top: -20%;
    left: 5%;
    height: 65%;
    width: 30%;
}

.mat-position {
    position: relative;
}

.mat-content {
    position: relative;
    left: 52%;
}

.mat-content-2 {
    position: relative;
    left: 75%;
    font-size: 22px;
}

.button-size {
    font-size: 18px;
}
