<div class="container">
     <h1>Update Order- <span style="color: red;">{{ order.order_id }}</span></h1>
     <section class="container border mb-4 p-3"  >
     <form #mainForm="ngForm" class="container mt-3">
        <div class="form-group ">
          <label for="created_by"><h4>Created By &nbsp;</h4></label>
          <input type="text" class="created_by" id="created_by"
          [(ngModel)]="order.created_by" name="created_by" disabled>
        </div>
        <br>
        <hr>
        <br>
    <div class="form-group ">
      <label for="order_desc"><h4>Order Description</h4></label>
      <input type="text" class="form-control" id="order_desc" ngModel #desc="ngModel"
      [(ngModel)]="order.order_desc" name="order_desc" required>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <form #catalogForm="ngForm" class="container mt-3" (ngSubmit)="logCatValue()">
        <h4>Location & Department</h4>
        <section class="container border mb-4 p-3"  >
          <div class="row">
            <div class="col-6">
              <label for="loc">Location</label>
              <mat-form-field style="width: 100%;" required>
                <mat-select required class="form-control" #cityControl="ngModel" ngModel
                 [(ngModel)]="order.loc" name="location">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                <mat-error *ngIf="cityControl.errors?.required && cityControl.touched">Please select city</mat-error>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
            <label for="loc">Department</label>
            <mat-form-field style="width: 100%;" required>
              <mat-select class="form-control"  required [(ngModel)]="order.dept"
              #dept="ngModel" ngModel
              name="dept">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let department of departments"
              [value]="department">{{department}}</mat-option>
              </mat-select>
              <mat-error *ngIf="dept.errors?.required && dept.touched">Please select department</mat-error>
            </mat-form-field>
            </div>
          </div>
        </section>
        <h4>Order Items</h4>
        <div class="row">
          <div class="col-6">
            <section class="container border mb-4 p-3"  >
            <mat-label>Choose Method</mat-label>
            <mat-select class="form-control" ngModel #choose="ngModel" required name="option">
            <mat-option>None</mat-option>
            <mat-option value="New" (click)="itemSelect('new')">New Item</mat-option>
            <mat-option value="Catalog" (click)="itemSelect('catalog')">Catalog Item</mat-option>
            </mat-select>
            <mat-error *ngIf="choose.errors?.required && choose.touched">Please select the item</mat-error>
            </section>
          </div>
        </div>
        <div class="row justify-content-center" [hidden]="catalogDisplay">
            <div class="col-12">
              <section class="container border mb-4 p-3" *ngFor="let
              catalogItem of catalogItems; let i = index;">
            <div class="row">
            <div class="col-12">
            <h4>Catalog Item</h4>
            </div>
            <div class="col-4">
            <div class="form-group">
            <label>Choose the search option</label>
            <select class="form-control" (change)="selectedChoice($event.target.value)" required>
            <option *ngFor="let choice of availableChoices" [value]="choice">{{choice}}</option>
            </select>
            </div>
            <div [hidden]="selectedOption != 'Filter by Product Names'" class="form-group">
            <label>Product Name</label>
            <select class="form-control"
            name="product" (change)="toggleDisplay($event.target.value)" required>
            <option [value]="">None</option>
            <option *ngFor="let productName of itemProducts" [value]="productName" >{{productName}}</option>
            </select>
            </div>
            <div [hidden]="selectedOption != 'Filter by Brand Names'" class="form-group">
              <label>Brand Names</label>
               <select class="form-control" name="brand"
               (change)="toggleBrand($event.target.value)" required>
                <option [value]="">None</option>
                <option *ngFor="let brand_name of brandNames" [value]="brand_name">{{brand_name}}</option>
              </select>
           </div>
            <div [hidden]="selectedOption != 'Filter by Supplier Names'" class="form-group">
              <label>Supplier Names</label>
               <select class="form-control" name="supplier"
               (change)="toggleSupplier($event.target.value)" required>
                <option [value]="">None</option>
                <option *ngFor="let supp of supplierNames" [value]="supp">{{supp}}</option>
              </select>
           </div>
            </div>
            </div>
            <hr>
            <div [hidden]="isShow">
              <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <div class="row catalog"  style="height: 40px;">
                  <div class="col-sm catalog headings">
                    <h6>Product</h6>
                    </div>
                  <div class="col-sm catalog headings">
                  <h6>Brand</h6>
                  </div>
                   <div class="col-sm catalog headings">
                   <h6>Price</h6>
                  </div>
                  <div class="col-sm catalog headings">
                    <h6>Supplier</h6>
                  </div>
                  <div class="col-sm catalog headings">
                    <h6>Specification</h6>
                  </div>
                  <div class="col-sm catalog headings">
                  <h6>Quantity</h6>
                  </div>
                  <div class="col-sm catalog headings">
                    <h6>Images</h6>
                  </div>
                  <div class="col-sm catalog headings">
                  <h6>Action</h6>
                  </div>
                  </div>
              <div class="row catalog" style="height: 80px;" *cdkVirtualFor="let catalog of selectedCatalog;
              let i = index; let count = count">
              <div class="col-sm catalog">
                <input matInput [value]="catalog.name" disabled>
              </div>
              <div class="col-sm catalog">
              <input matInput [value]="catalog.brand" disabled>
              </div>
              <div class="col-sm catalog">
              <input matInput [value]="catalog.price" disabled>
              </div>
              <div class="col-sm catalog">
                <input matInput [value]="catalog.supplier" disabled>
              </div>
              <div class="col-sm catalog">
                <input matInput [value]="catalog.specification" disabled>
              </div>
              <div class="col-sm catalog">
              <input type="number" required style="width: 50px; height: 20px"  name="quantity{{i}}"
              [min]="1"
               [(ngModel)]="catalog.quantity"
               #quantCat="ngModel">
               <mat-error *ngIf="quantCat.errors?.min"
               style="font-size: 15px;">value can't be -ve or zero</mat-error>
               <mat-error *ngIf="quantCat.errors?.required"
               style="font-size: 15px;">Please provide quantity</mat-error>
              </div>
              <div class="col-sm catalog">
                <button color="primary" mat-icon-button type="button"
                (click)="checkImages(catalog.item_id)"><mat-icon>slideshow</mat-icon>Check it</button>
              </div>
              <div class="col-sm catalog">
              <button mat-icon-button color="primary" type="button"
               (click)="orderItem(catalog, order.loc, order.dept)">
               <mat-icon>add_shopping_cart</mat-icon>Add</button>
              </div>
              </div>
              </cdk-virtual-scroll-viewport>
              <br>
              <div [hidden]="isImages">
                <div *ngIf="isLoading" class="spinner">
                  <mat-progress-spinner color="primary" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                <div *ngIf="!isLoading" align="end">
                <ng-image-slider [images]="itemImages" #nav></ng-image-slider>
                <button mat-raised-button class="btn btn-primary" color="primary" type="button"
                (click)="isImages = true">Hide it</button>
                </div>
              </div>
              </div>
              </section>
          </div>
          </div>
          <div [hidden]="new" >
            <div class="row justify-content-center">
              <div class="col-12">
                <section class="container border mb-4 p-3">
                  <div class="row">
                    <div class="col-12">
                        <h4>Item</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control"
                            ngModel name="name"
                            [matAutocomplete]="prod"
                            required
                            matInput
                            [formControl]="myControl"/>
                            <mat-autocomplete #prod="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="myControl.errors?.required && myControl.touched">Please enter the product name</mat-error>
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Specifications</label>
                            <input type="text" class="form-control"
                            required ngModel
                            name="specification"
                            placeholder="Specification"/>
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Preferred Brand</label>
                            <input type="text" class="form-control"
                            ngModel name="vendor"
                            placeholder="Preferred Brand"
                            [matAutocomplete]="brandAuto"
                            required
                            matInput
                            [formControl]="BrandControl"/>
                            <mat-autocomplete #brandAuto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptionBrand | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="BrandControl.errors?.required && BrandControl.touched">Please enter the Brand</mat-error>
                          </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control"
                            name="quantity" ngModel
                            [formControl]="quant"
                            required
                            matInput placeholder="Quantity"/>
                            <mat-error *ngIf="quant.errors?.min">Quantity cannot be in negative or zero</mat-error>
                            <mat-error *ngIf="quant.errors?.required && quant.touched">Please enter the quantity</mat-error>
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Unit type</label>
                            <input type="text" class="form-control"
                            ngModel name="unit"
                            #unit="ngModel"
                            required
                            matInput  placeholder="Unit Type"/>
                            <mat-error *ngIf="unit.errors?.required && unit.touched">Please enter the unit type</mat-error>
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control"
                            name="price" ngModel
                            [formControl]="price"
                            required
                            matInput placeholder="Price"/>
                            <mat-error *ngIf="price.errors?.min">Price cannot be in negative or zero</mat-error>
                            <mat-error *ngIf="price.errors?.required && price.touched">Please enter the price</mat-error>
                          </div>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-6">
                        <div class="form-group">
                            <label>Currency</label>
                            <select class="form-control" required
                            #curr="ngModel"
                            ngModel name="currency" placeholder="Currency">
                              <option value="INR">INR</option>
                              <option value="USD">USA</option>
                              <option value="EURO">EURO</option>
                            </select>
                            <mat-error *ngIf="curr.errors?.required && curr.touched">Please select the currency</mat-error>
                          </div>
                    </div>
                     <div class="col-6">
                        <div class="form-group">
                            <label>Comments</label>
                            <input type="text" class="form-control"
                            ngModel name="comment" placeholder="Comments"/>
                          </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Supplier Name</label>
                        <input matInput [formControl]="supplierControl"
                        ngModel name="supplier"
                        [matAutocomplete]="auto"
                        required
                        class="form-control"/>
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptionSupplier | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="supplierControl.errors?.required && supplierControl.touched">Please select the supplier</mat-error>
                      </div>
                    </div>
                  </div>
                  <div align="end">
                    <button mat-icon-button mat-raised-button matSuffix color="primary" class="newItem"
                    (click)="addfinalItem(catalogForm)" type="submit" [disabled]="supplierControl.invalid || myControl.invalid
                        || BrandControl.invalid || quant.invalid || price.invalid">
                    <mat-icon>add_shopping_cart</mat-icon>Add to Order</button>
                </div>
                </section>
              </div>
              </div>
          </div>
          </form>
          <br>
         </div>

&nbsp;
<div>
<mat-card style="background-color:lavender;">
<mat-card-header>
<mat-card-title>Selected Items</mat-card-title>
</mat-card-header>
<div class="row">
<div class="col-sm-6"  *ngFor="let item of finalItem; let i=index;">
<p>Name -{{ item.name }} | Vendor - {{ item.prefered_vendor }} |  Quantity- {{ item.quantity }} |
  Location - {{item.location}} | Department - {{item.department}} | {{item.specification}} | {{item.price}}
<button mat-button-raised (click)="removeOrderItem(i,item)" mat-icon-button><mat-icon>delete</mat-icon></button>
</p>
</div>
</div>
</mat-card>
</div>
<br>
<hr>
<br>
<div class="text-right">
<button type="button" class="btn btn-success"
[disabled]="finalItem.length === 0"
(click)="updateOrder($event)">Update Order</button>
</div>
</form>
</section>
</div>
